
version: 0.0.{build}
install:
  - choco install gitversion.portable -pre -y
  
before_build:
  - ps: gitversion /l console /output buildserver

build_script:
  - cmd: build.cmd
  - cmd: tests\CodeCoverage\CodeCoverage.cmd

after_build:
  - cmd: appveyor PushArtifact "artifacts\SixLabors.Fonts.%GitVersion_NuGetVersion%.nupkg"

deploy:
  - provider: NuGet
    server: https://www.myget.org/F/sixlabors/api/v2/package
    symbol_server: https://www.myget.org/F/sixlabors/symbols/api/v2/package
    api_key:
      secure: SyrSERGrjkK21TSCsHtqke5279SMxXCg2NXKjR2qaErP0khEplwxPwE8Ch5bxzyf
    artifact: /.*\.nupkg/
    on:
      branch: master

test: off