.highlighter-rouge .highlight {  background-color:#333}

.highlighter-rouge .highlight .hll { background-color: #49483e }
.highlighter-rouge .highlight .c { color: #9ca284 } /* Comment */
.highlighter-rouge .highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlighter-rouge .highlight .k { color: #66d9ef } /* Keyword */
.highlighter-rouge .highlight .l { color: #ae81ff } /* Literal */
.highlighter-rouge .highlight .n { color: #f8f8f2 } /* Name */
.highlighter-rouge .highlight .o { color: #f92672 } /* Operator */
.highlighter-rouge .highlight .p { color: #f8f8f2 } /* Punctuation */
.highlighter-rouge .highlight .cm { color: #9ca284 } /* Comment.Multiline */
.highlighter-rouge .highlight .cp { color: #9ca284 } /* Comment.Preproc */
.highlighter-rouge .highlight .c1 { color: #9ca284 } /* Comment.Single */
.highlighter-rouge .highlight .cs { color: #9ca284 } /* Comment.Special */
.highlighter-rouge .highlight .ge { font-style: italic } /* Generic.Emph */
.highlighter-rouge .highlight .gs { font-weight: bold } /* Generic.Strong */
.highlighter-rouge .highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlighter-rouge .highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlighter-rouge .highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlighter-rouge .highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlighter-rouge .highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlighter-rouge .highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlighter-rouge .highlight .ld { color: #e6db74 } /* Literal.Date */
.highlighter-rouge .highlight .m { color: #ae81ff } /* Literal.Number */
.highlighter-rouge .highlight .s { color: #e6db74 } /* Literal.String */
.highlighter-rouge .highlight .na { color: #a6e22e } /* Name.Attribute */
.highlighter-rouge .highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlighter-rouge .highlight .nc { color: #a6e22e } /* Name.Class */
.highlighter-rouge .highlight .no { color: #66d9ef } /* Name.Constant */
.highlighter-rouge .highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlighter-rouge .highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlighter-rouge .highlight .ne { color: #a6e22e } /* Name.Exception */
.highlighter-rouge .highlight .nf { color: #a6e22e } /* Name.Function */
.highlighter-rouge .highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlighter-rouge .highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlighter-rouge .highlight .nx { color: #a6e22e } /* Name.Other */
.highlighter-rouge .highlight .py { color: #f8f8f2 } /* Name.Property */
.highlighter-rouge .highlight .nt { color: #f92672 } /* Name.Tag */
.highlighter-rouge .highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlighter-rouge .highlight .ow { color: #f92672 } /* Operator.Word */
.highlighter-rouge .highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlighter-rouge .highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlighter-rouge .highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlighter-rouge .highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlighter-rouge .highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlighter-rouge .highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlighter-rouge .highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlighter-rouge .highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlighter-rouge .highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlighter-rouge .highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlighter-rouge .highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlighter-rouge .highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlighter-rouge .highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlighter-rouge .highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlighter-rouge .highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlighter-rouge .highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlighter-rouge .highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlighter-rouge .highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlighter-rouge .highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlighter-rouge .highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlighter-rouge .highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlighter-rouge .highlight .gh { } /* Generic Heading & Diff Header */
.highlighter-rouge .highlight .gu { color: #9ca284; } /* Generic.Subheading & Diff Unified/Comment? */
.highlighter-rouge .highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlighter-rouge .highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */